name: Variables Workflow

on:
  push:
    branches:
      - main
    paths-ignore:
      - "index.html"

# on:
#   push:
#     branches:
#       - main
#     paths:
#       # - "hello.java" # Only Hello.Java File ( Positive Pattern )
#       # - "**.java" # Any Java File
#       - "!index.html" # Except this file, any other file changes, trigger the Job ( Negative Pattern )


# on:
#   schedule:
#     - cron: "0/5 * * * *"

# on: [push]

jobs: 
  run-github-actions: 
    runs-on: ubuntu-latest
    steps:
      - name: List Files 
        run: |
          pwd
          ls -a
          echo $GITHUB_SHA
          echo $GITHUB_REPOSITORY
          echo $GITHUB_WORKSPACE
          echo "${{ github.token }}"
          # git clone git@github:$GITHUB_REPOSITORY
          # git checkout $GITHUB_SHA